@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,900;1,900&display=swap');

.scoreboard {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 250px;
  background-color: #d6f5d6; /* Light green */
  padding: 20px;
  box-sizing: border-box;
  color: #ffad33; /* Light orange */
  border-radius: 10px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.scoreboard h2 {
  font-size: 24px;
  margin: 0;
}
