@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,900;1,900&display=swap');

.timer {
    position: absolute;
    bottom: 20px;
    right: 8px;
    width: 360px; /* Adjust the width as needed */
    height: 220px; /* Adjust the height as needed */
    background: url('./assets/timer.png') no-repeat center;
    background-size: contain; /* Ensures the image scales to fit the container while maintaining aspect ratio */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  