@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,900;1,900&display=swap");

.hearts {
  position: absolute;
  top: 20px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
}

.heart {
  width: 50px; /* Adjust the size as needed */
  margin: 5px;
}
